body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .container {
    margin-bottom: 16px;
  }

  .brand-logo {
    margin-left: 20px;
  }

  main {
    flex: 1 0 auto;
  }

  .card,
  .badge,
  .btn,
  .btn-large {
    border-radius: 5px;
  }

  .badge {
    display: inline-block;
    padding: 8px 16px;
  }

  .modal-transparent {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .7);
  }

  .modal h4 {
    margin: 0 auto;
    margin-top: 30px;
    font-size: 2.5rem;
    font-weight: bold;
    max-width: 25ch;
    text-align: center;
  }

  .modal h5 {
    font-weight: bold;
  }

  .modal .modal-footer {
    background-color: transparent;
    text-align: center;
    margin-bottom: 30px;
  }