body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .container {
    margin-bottom: 16px;
  }

  .brand-logo {
    margin-left: 20px;
  }

  main {
    flex: 1 0 auto;
  }

  .card,
  .btn,
  .btn-large {
    border-radius: 5px;
  }